<%- include('header'); -%>


<h2>This is about page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta veritatis
  inventore fugit doloribus. Dicta distinctio quis necessitatibus cupiditate
  blanditiis iure corrupti cumque quibusdam perspiciatis natus explicabo eaque
  eos, saepe officiis.
</p>
<%- include('footer'); -%>
